<%- unless judgement.worthless? -%>
<span class='<%= classes('judgement', flash[:judged]) %>'>judged
  <span class='outcome'><%= judgement.outcome_in_words -%></span>
  <% if judgement.user -%>
    by <%= show_user(judgement.user) -%>
  <% end -%>
  <%= show_time(judgement.created_at, 'created_at') -%>.
</span>
<%- end -%>