.bundle
.rvmrc
log/*.log
tmp/
.sass-cache/
public/assets
*.DS_Store
public/uploads/*
cache
coverage

# Secrets repo
secrets

# Vagrant
Vagrantfile
.vagrant

tags*

vendor
.direnv
.envrc

/config/credentials/*.key
/config/credentials/development.yml.enc
/config/credentials/test.yml.enc
