.bundle
.rvmrc
log/*.log
tmp/
.sass-cache/
public/assets
config/credentials.yml
*.DS_Store
public/uploads/*
cache
coverage

# Secrets repo
secrets

# Vagrant
Vagrantfile
.vagrant

tags*

vendor
.direnv
.envrc

/config/credentials/staging.key

/config/credentials/production.key
