<p>Your password has been reset to a temporary password.</p>
<p>
  Your new password is: <strong><%=h @new_password %></strong>
</p>
<p>You can change this password to something more memorable once you log into your account.</p>

