<h2>Leaderboard</h2>

<ol id="leaderboard">
<%= render :partial => @users %>
</ol>

<p class="leaderboard-info">The leaderboard comprises the top 100 users who each have at least 10 judged wagers.</p>
