<h1>
  Prediction group -
  <%= @prediction_group.description %>
  ...
</h1>

<% @prediction_group.predictions.each do |prediction| %>
  <%= render partial: 'predictions/prediction', locals: { prediction: prediction } %>
<% end %>
