.credence-result strong { font-size: 1.5em; padding-right: 3px; }

#credence-scores { margin-bottom: 10px; }

#credence-scores td {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#credence-scores th {
    padding: 1px 5px;
    vertical-align: top;
    font-weight: normal;
    line-height: 120%;
}

#credence-graph:not(.show) {
    display: none;
}
